{% extends 'base.html.twig' %}

{% block title %}Accueil-{{parent()}}{% endblock %}

{% block body %}

    <h1>Accueil </h1>  
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia recusandae tenetur ipsum odio distinctio eaque, 
    ab illo eligendi sequi saepe eius obcaecati repellendus pariatur laudantium nulla blanditiis vitae eum similique.</p> 

{% endblock %}
