<header>
    <nav>
        <a href="{{ path('home') }}">Accueil</a>
        <a href="{{ path('about') }}">A propos</a>
        <a href="{{ path('contact') }}">Contact</a>
        <a href="{{ path('blog') }}">blog</a>
    </nav>
</header>