<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon site Exemple{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"> <!--insertion d'une feuille de style depuis public--> 
    </head>
    <body>
        {{include('_header.html.twig')}}
        {% block body %}{% endblock %}
        {{include('_footer.html.twig')}}
        <script src="{{ asset('js/script.js') }}"></script> <!--insertion du js externe depuis public-->
    </body>
</html>
